<title><%= ejs.seo.title %></title>
<meta property="og:title" content="<%= ejs.seo.title %>">
<meta name="twitter:title" content="<%= ejs.seo.title %>">
<meta name="description" content="<%= ejs.seo.description %>">
<meta property="og:description" content="<%= ejs.seo.description %>">
<meta property="twitter:description" content="<%= ejs.seo.description %>">
<meta name="keywords" content="<%= ejs.seo.keywords %>">